.sidebar {
  height: 100%;
  min-width: 220px;
}

.thumbnail {
  width: 60px;
  height: 60px;
  border: solid 1px black;
  border-radius: 4px;
  margin-right: 8px;
}

.image-preview {
  margin-top: 16px;
  margin-bottom: 8px;
}

.prev-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.prev-row p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.canvas {
  width: 450px;
  height: 450px;
  border: solid black 1px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.canvas-container {
  padding-top: 15px;
}

.canvas-image {
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  background-size: 100% 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  display: flex;
  height: 100vh;
}

.left-column {
  width: 25%;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 15px;
}

.right-column {
  width: 20%;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 15px;
}

.middle-column {
  flex: 1;
  border: 1px solid #ccc;
  padding: 15px;
}
